<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desânima Coffee</title>
    <link rel="stylesheet" type="text/css"   href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="login">
        <div class="login-container">
            <div class="login-header">
                <a href="login">Login</a>
            </div>
        </div>
    </div>

    <div id="quadroRoxo">
        <div class="container">
            <!--Essa parte mostra a apresentação do site-->
            <div id="apresentacao">
                <img id="logoCafeteria" src="images/Desanimalogo.png" alt="Logo da Cafeteria">
                <h1 id="titulo">Desânima Coffee</h1>
                <h3 id="subtitulo">Comfort Ice Coffee for Stressed Students</h3>
                <hr id="divisor01">
                <div class="container-address">
                    <i class="fas fa-map-marker-alt icon-gps"></i>
                    <p id="my-address">Estamos procurando seu endereçomais próximo...</p>
                </div>
                <hr id="divisor01">
            </div>
            <!--Essa parte mostra a apresentação do site-->
    
            <!--Essa parte exibe a palavra cardápio-->
            <div>
                <h2 id="cardapio">Cardápio</h2>
            </div>
            <hr id="divisorCardapio">
            <!--Essa parte exibe a palavra cardápio-->
    
            <!--Essa parte é do produto Blueberry Dreamy-->
            <div class="product">
                <div class="container-desc">
                    <h3 class="title-product">Blueberry Dreamy</h3>
                    <div class="desc">
                        <p>Bebida gelada à base de mirtilos, leite, café, zolpidem e sorvete de baunilha.</p>
                        <p class="desc-litters">400ml</p>
                    </div>
                </div>
                <div class="container-img">
                    <img class="img-product" src="images/blueberrydreamy.jpg">
                </div>
            </div>
            <!--Essa parte é do produto Blueberry Dreamy-->
    
            <hr id="divisorProdutos">

            <!--Essa parte é do produto Red Sleepy-->
            <div class="product">
                <div class="container-img">
                    <img class="img-product" src="images/redsleepy.jpg">
                </div>
                <div class="container-desc">
                    <h3 class="title-product">Red Sleepy</h3>
                    <div class="desc">
                        <p>Bebida gelada à base de frutas vermelhas, leite, café, quetiapina e sorvete de baunilha.</p>
                        <p class="desc-litters">400ml</p>
                    </div>
                </div>
            </div>
            <!--Essa parte é do produto Red Sleepy-->
    
            <hr id="divisorProdutos">
    
           <!--Essa parte é do produto Rivolatte-->
           <div class="product">
            <div class="container-desc">
                <h3 class="title-product">Rivolatte</h3>
                <div class="desc">
                    <p>Bebida gelada à base de café, leite, rivotril e calda de caramelo salgado.</p>
                    <p class="desc-litters">400ml</p>
                </div>
            </div>
            <div class="container-img">
                <img class="img-product" src="images/Rivolatte.jpg">
            </div>
        </div>
        <!--Essa parte é do produto Rivolatte-->
    
            <hr id="divisorProdutos">
           
        <!--Essa parte é do produto Lorazepuccino-->
        <div class="product">
        <div class="container-img">
            <img class="img-product" src="images/Lorazepuccino.png">
        </div>
        <div class="container-desc">
            <h3 class="title-product">Lorazepuccino</h3>
            <div class="desc">
                <p>Bebida gelada à base de café, leite, lorazepam e calda de maracujá.</p>
                <p class="desc-litters">400ml</p>
            </div>
        </div>
        </div>
        <!--Essa parte é do produto Lorazepuccino-->
        
        <hr id="divisorProdutos">
        
        <!--Essa parte é do produto Tylenolatte-->
        <div class="product">
         <div class="container-desc">
              <h3 class="title-product">Tylenolatte</h3>
              <div class="desc">
                 <p>Bebida gelada à base de café, leite, tylenol e calda de chocolate.</p>
                 <p class="desc-litters">400ml</p>
              </div>
        </div>
        <div class="container-img">
            <img class="img-product" src="images/Tylenolatte.jpg">
        </div>
      </div>
        <!--Essa parte é do produto Tylenolatte-->
            
        

        <!--Essa parte é do produto Monochaidil-->
            <div class="product">
                <div class="container-img">
                    <img class="img-product" src="images/Monochaidil.jpg">
                </div>
                <div class="container-desc">
                    <h3 class="title-product">Monochaidil</h3>
                    <div class="desc">
                        <p>Bebida gelada à base de leite, café, monocordil e canela.</p>
                        <p class="desc-litters">400ml</p>
                    </div>
                </div>
            </div>
        <!--Essa parte é do produto Monochaidil-->        

        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/script.js"></script>

</html>