<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Clone</title>
    <link rel="stylesheet" type="text/css"   href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="quadroRoxo">
        <div class="container">
            <!--Essa parte mostra a apresentação do site-->
            <div id="apresentacao">
                <img id="logoCafeteria" src="images/logo.png" alt="Logo da Cafeteria">
                <h1 id="titulo">WhatsApp Clone API </h1>
                <h3 id="subtitulo">Documentação e apresentação do WhatsApp Clone</h3>
                <hr id="divisor01">
            </div>
            <!--Essa parte mostra a apresentação do site-->
    
            <!--Essa parte exibe a palavra cardápio-->
            <div>
                <h2 id="cardapio">Aplicativo</h2>
            </div>
            <hr id="divisorCardapio">
            <div>
                <h2 id="cardapio">
                    <a href="api-docs" class="route-api" target="_blank">API REST</a>
                </h2>
            </div>
            <hr id="divisorCardapio">
            <!--Essa parte exibe a palavra cardápio-->
          

        </div>
    </div>
</body>

<script src="js/script.js"></script>

</html>